#success-screen-container {
    display: flex;
    flex: 1;
    background-color: var(--color-primary);
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../assets/images/success_background.svg');
    background-size: contain;
}

#success-screen-container img {
    margin-bottom: 3.2rem;
}

#success-screen-container h1 {
    color: var(--color-title-in-primary);
    margin-bottom: 3.2rem;
}

#success-screen-container p {
    color: var(--color-text-in-primary);
    text-align: center;
    width: 90%;
    margin-bottom: 3.2rem;
}

#success-screen-container a {
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    outline: none;
    width: 16.2rem;
    border-radius: 0.8rem;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width:500px) {
    #success-screen-container p {
        width: 70%;
    }
}

@media (min-width:700px) {
    #success-screen-container p {
        width: 50%;
    }
}

@media (min-width:920px) {
    #success-screen-container p {
        width: 40%;
    }
}

@media (min-width:1080px) {
    #success-screen-container p {
        width: 30%;
    }
}