#register-content {
    width: 100vw;
    height: 100vh;
}

#form-container {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#form-container h2 {
    margin-top: 0;
}

#subtitle {
    width: 80%;
    align-self: flex-start;
    margin-bottom: 1.6rem;
}

#form-container button {
    margin-top: 3.2rem;
}

#back-icon {
    align-self: flex-start;
    margin-left: 3.2rem;
    margin-top: 3.2rem;
}

@media (min-width:700px) {
    #subtitle {
        width: 40%;
    }

    #form-container {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    #form-container {
        width: 60%;
    }
}